@font-face{
	font-family: "Sans Serif";

	src: url("fonts/helvetica.otf");
}
html{
	overflow: hidden;
}
.game{
	height: 100%;
	width: 100%;
}
.score{
	position: absolute;
	top: 20px;
	left: 30px;

	color: #fff;

	z-index: 1;

	font-family: "Sans Serif", helvetica;
	font-size: 2em;

	transition: all 1s linear;
}
.dialog{
	opacity: 1;

	transition: all 1s linear;

	position: absolute;
	top: 300px;
	left: 550px;

	color: #000;

	z-index: 3;

	font-family: "Sans Serif", helvetica;
	font-size: 2em;
}
.bg{
	background-image: url(img/bg.jpg);

	background-size: contain;

	width: 100%;
	height: 100%;

	position: absolute;
	top: -280px;
	left: 0;

	z-index: 0;

	transition: all 1s linear;
}
@keyframes dayOrNight{
	from{
		filter: brightness(100%);
	}
	50%{
		filter: brightness(0%)
	}
	to{
		filter: brightness(100%);
	}
}
.moon{
	background-image: url(img/moon.png);

	background-size: contain;

	width: 100px;
	height: 100px;

	position: absolute;
	top: 50px;
	left: 150px;

	z-index: 1;

	transition: all 1s linear;
	transform: rotateZ(20deg);

	opacity: 0 ;
}
@keyframes nightOrDay{
	from{
		opacity: 0 ;
		filter: brightness(0%);
		clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
	}
	10%{
		opacity: 1 ;
		filter: brightness(100%);
	}
	20%{
		opacity: 0 ;
		filter: brightness(0%);
	}
	25%{
		clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 100%);
	}
	30%{
		opacity: 1 ;
		filter: brightness(100%);
	}
	40%{
		opacity: 0 ;
		filter: brightness(0%);
	}
	50%{
		opacity: 1 ;
		filter: brightness(100%);
		clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
	}
	60%{
		opacity: 0 ;
		filter: brightness(0%);
	}
	70%{
		opacity: 1 ;
		filter: brightness(100%);
	}
	75%{
		clip-path: polygon(0% 0%, 0% 0, 0% 100%, 0% 100%);
	}
	80%{
		opacity: 0 ;
		filter: brightness(0%);
	}
	90%{
		opacity: 1 ;
		filter: brightness(100%);
	}
	to{
		opacity: 0 ;
		filter: brightness(0%);
		clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);
	}
}
.ground{
	background-image: url(img/ground.png);

	width: 200%;
	height: 120px;

	position: absolute;
	top: 360px;
	left: 0%;

	z-index: 2;
}
.underGround{
	background-image: url(img/underGround.png);

	width: 200%;
	height: 300px;

	position: absolute;
	top: 400px;
	left: 0%;
}
@keyframes movingGround{
	from{
		left: 0;
	}
	to{
		left: -100%;
	}
}
.gradient{
	width: 100%;
	height: 100%;

	background: linear-gradient(to bottom, rgba(0,0,0,0), #000);
}
.fireCar{
	background-image: url(img/firecar.png);
	background-size: 100%;

	transform: rotateY(180deg);

	width: 240px;
	height: 120px;

	position: absolute;
	top: 295px;
	left: 50px;

	z-index: 0;

	transition: all 1s linear;
}
@keyframes ride{
	from{
		top: 295px;
		left: 50px;
	}
	25%{
		top: 290px;
		left: 5px;
	}
	50%{
		top: 295px;
		left: 155px;
	}
	75%{
		top: 290px;
		left: 200px;
	}
	to{
		top: 295px;
		left: 50px;
	}
}
.house{
	background-image: url(img/house.png);
	background-size: 100%;

	transform: rotateY(180deg);

	width: 180px;
	height: 200px;

	position: absolute;
	top: 245px;
	left: 900px;

	z-index: 0;
}
.wood{
	display: none;

	background-image: url(img/wood.png);
	background-size: 100%;

	transform: rotateY(180deg);

	width: 130px;
	height: 143px;

	position: absolute;
	top: 265px;
	left: 800px;

	z-index: 0;

	animation: saturMove 5s linear 0s infinite;
}
@keyframes saturMove{
	from{
		left: 1500px;
		filter: saturate(100%)
	}
	50%{
		filter: saturate(300%)
	}
	to{
		left: -200px;
		filter: saturate(100%)
	}
}
.fire{
	display: none;

	background-image: url(img/fire.png);
	background-size: 100%;

	transform: rotateY(180deg);

	width: 100px;
	height: 100px;

	position: relative;
	top: 245px;
	left: 780px;

	z-index: 2;

	animation: fireMove 5s linear 0s infinite;
}
.apple{
	display: none;

	background-image: url(img/apple.png);
	background-size: 100%;

	transform: rotateY(180deg);

	width: 60px;
	height: 60px;

	position: relative;
	top: 270px;
	left: 790px;

	z-index: 2;

	animation: fireMove 5s linear 0s infinite;
}
@keyframes fireMove{
	from{
		left: 1500px;
		transform: rotateY(180deg) scale(1);
	}
	50%{
		transform: rotateY(0deg) scale(1.2);
	}
	to{
		left: -200px;
		transform: rotateY(180deg) scale(1);
	}
}
.water{
	display: none;

	position: absolute;

	top: 300px;
	left: 50px;

	width: 35px;
	height: 35px;

	border-radius: 20px;

	background-color: rgb(50,50,205);

	z-index: 3 ;
}
@keyframes fly{
	from{
		left: 220px;
	}
	to{
		left: 1500px;
	}
}
